/*3830 members, these words are for you alone.*/
/*This is the CSS file for our website. A .css file manages how our website looks.*/
body {
    background-color: rgb(74, 13, 101);
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(242, 255, 0);
}