/*3830 members, these words are for you alone. */
/*This is the CSS file for our website. A .css file manages how our website looks.*/
body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(242, 255, 0);

    .email_button {
        color: white;
        background-color: #4CAF50; /* Green */
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }
}